<!DOCTYPE html>
<html lang="en">
<head>
	<title>百度音乐下载</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body class="container">
	<div class="page-header">
		<h1>百度音乐下载</h1>
	</div>

	<form action="/search" method="post">
	<div class="input-group">
		<input type="text" name="input_content" class="form-control" autofocus placeholder="http://music.baidu.com/song/955915" />
		<span class="input-group-btn">
			<button type="submit" class="btn btn-success">查找</button>
		</span>
	</div>
	</form>
	<br>

	<h5>请输入百度音乐链接或音乐ID前往下载，或输入关键词进行搜索</h5>
	<h5>目前搜索功能还比较简单，若搜索不到您要的内容，请查询百度音乐，直接输入音乐链接或ID</h5>
</body>
</html>
