<!DOCTYPE html>
<html lang="en">
<head>
	<title>搜索结果</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="/static/style.css" />
</head>

<body class="container">
	<div class="page-header">
		<h1>
			搜索结果
			<a href="/" class="btn btn-link btn-lg">
				<span class="glyphicon glyphicon-home"></span> 首页
			</a>
		</h1>
	</div>

	<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>歌名</th>
			<th>演唱者</th>
			<th>专辑</th>
			<th>下载</th>
		</tr>
	</thead>
	<tbody>
		{% for song in result %}
		{% if song.lyric %}
		<tr>
			<td rowspan="2">{{ forloop.counter }}</td>
			<td>{{ song.song_name | safe }}</td>
			<td>{{ song.artist_name | safe }}</td>
			<td>{{ song.album_name | safe }}</td>
			<td rowspan="2"><a href="{{ song.link }}">下载</a></td>
		</tr>
		<tr>
			<td class="row-small" colspan="3">
				<small>{{ song.lyric | safe }}</small>
			</td>
		</tr>
		{% else %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ song.song_name | safe }}</td>
			<td>{{ song.artist_name | safe }}</td>
			<td>{{ song.album_name | safe }}</td>
			<td><a href="{{ song.link }}">下载</a></td>
		</tr>
		{% endif %}
		{% endfor %}
	</tbody>
	</table>
</body>
</html>
